@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<div class="container">
    <div class="raw">
        <div class="col-md-3">
            <h2><strong>Login Page</strong></h2>
            <form asp-action="login" method="post">
            <div class="form-group">
                <label>User Name</label>
                <input type="text"class="from-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label>password</label>
                <input type="password" class="from-control" id="password" name="password" />
            </div>
            <button type="submit">Submit</button>
            </form>
        </div> 
    </div>
</div>